<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddpzp.xiaogu_word.mapper.system.SystemConfigMapper">
    <select id="getConfig" resultType="com.ddpzp.xiaogu_word.po.system.SystemConfig">
        SELECT * FROM system_config WHERE ip=#{ip}
    </select>
</mapper>