<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddpzp.goodbook.mapper.user.LoginRecordMapper">
    <insert id="addLoginRecord" parameterType="com.ddpzp.goodbook.po.user.LoginRecord">
        insert into login_record (account,ip) values (#{account},#{ip})
    </insert>
    <select id="getLoginRecords" resultType="com.ddpzp.goodbook.po.user.LoginRecord">
        select * from login_record
        <where>
            <if test="account!=null and account!=''">
                account=#{account}
            </if>
        </where>
        order by login_time desc
    </select>
</mapper>