<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>单词本</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/wordlist/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/toastr.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/jquery-confirm.css}"/>
    <script type="text/javascript" th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/wordlist/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/toastr.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/jquery-confirm.js}"></script>
    <script type="text/javascript" th:src="@{/js/wordlist/wordlist.js}"></script>
</head>
<body>
<div class="box">
    <div class="content">
        <div class="container content_width">
            <div class="page-header">
                <h1 align="center"><small>单词本</small></h1>
            </div>
            <div class="person_search">
                <div class="search_input">
                    <div class="input-group mb-3">
                        <input id="Ktext" type="text" class="form-control" placeholder="请输入想要搜索的内容">
                    </div>
                </div>
                <div class="search_input">
                    <button class="btn btn-primary search_btn" data-loading-text="正在查询..." type="button"
                            id="search_btn">查询
                    </button>
                    <button class="btn btn-primary search_btn" type="button" id="reset_btn">重置</button>
                </div>
            </div>
            <div class="line"></div>
        </div>

        <div class="export">
            <button id="new_add" type="button" class="btn btn-primary btn-sm" onclick="addModal()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>添加</span>
            </button>
            <button id="batch_del" type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-minus"></span>
                <span>删除</span>
            </button>
            <div class="modal fade" id="word">
                <div class="modal-dialog modal-lg modal_position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label>添加</label>
                        </div>
                        <div class="modal-body">
                            <table id="wordModal" class="table">
                                <tbody>
                                <tr hidden="hidden">
                                    <td class="tb_bg">
                                        <label>id</label>
                                    </td>
                                    <td><input name="id" type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="tb_bg">
                                        <label><span style="font-size: 14px; color: red;">*</span>英文</label>
                                    </td>
                                    <td><input name="english" class="english" type="text" placeholder="请输入英文"/></td>
                                </tr>
                                <tr>
                                    <td class="tb_bg">
                                        <label><span style="font-size: 14px; color: red;">*</span>中文</label>
                                    </td>
                                    <td><input name="chinese" class="chinese" type="text" placeholder="请输入中文"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button id="confirm_btn" type="button" class="btn btn-secondary">确定</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delConfirmModal">
            <div class="modal-dialog modal-lg modal_position">
                <div class="modal-content">
                    <div class="modal-header">
                        <label>删除</label>
                    </div>
                    <div class="modal-body">
                        <p>确定要删除吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button id="delConfirm_btn" type="button" class="btn btn-secondary">确定</button>
                        <button id="delCancel_btn" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <table id="tb" class="table">
            <thead>
            <tr>
                <th>
                    <input id="batchCheckBox" type="checkbox">
                </th>
                <th hidden="hidden">id</th>
                <th class="hidden-xs">序号</th>
                <th>英文</th>
                <th>中文</th>
                <th>创建时间</th>
                <th class="hidden-xs">创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="show_tbody">
            <tr th:each="word:${words}">
                <td>
                    <input type="checkbox" th:value="${word.id}">
                </td>
                <td name="id" hidden="hidden" th:text="${word.id}">-</td>
                <td name="index" class="hidden-xs" th:text="${wordStat.index+1}">-</td>
                <td name="english" th:text="${word.english}">-</td>
                <td name="chinese" th:text="${word.chinese}">-</td>
                <td name="createTime" th:text="${#dates.format(word.createTime,'yyyy-MM-dd HH:mm:ss')}">-</td>
                <td name="creator" class="hidden-xs" th:text="${word.creator}">-</td>
                <td>
                    <a href="javascript:void(0);" class="edit" onclick="editModal(this)">编辑</a>
                    <a href="javascript:void(0);" class="del" onclick="deleteModal(this)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav hidden="hidden" aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a id="previous" href="javascript:void(0);" onclick="prePage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="pageLink"><a href="javascript:void(0);" onclick="changePage(1)">1</a></li>
                <li class="pageLink"><a href="javascript:void(0);" onclick="changePage(2)">2</a></li>
                <li class="pageLink"><a href="javascript:void(0);" onclick="changePage(3)">3</a></li>
                <li class="pageLink"><a href="javascript:void(0);" onclick="changePage(4)">4</a></li>
                <li class="pageLink"><a href="javascript:void(0);" onclick="changePage(5)">5</a></li>
                <li>
                    <a href="javascript:void(0);" onclick="nextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script th:inline="javascript">
//    total = [[${total}]];
//    console.log("total=" + total);
//    var pageNum;
//    if (total % pageSize == 0) {
//        pageNum = parseInt(total / pageSize);
//    } else {
//        pageNum = parseInt(total / pageSize) + 1;
//    }
//    //去除模板中的页码
//    $('.pageLink').remove();
//    //重新生成页码
//    //前三页
//    for (var i = 0; i < pageNum && i < 3; i++) {
//        var j = i + 1;
//        $('.pagination li').eq(i).after("<li><a class='pageLink' href='javascript:void(0);' onclick='changePage(" + j + ")'>" + j + "</a></li>");
//    }
//    //超过五页，中间页码省略
//    if (pageNum > 5) {
//        $('.pagination li').eq(2).after("<p id='hiddenPage'>...</p>");
//    }
//    //后两页
//    if (pageNum > 3) {
//        for (var i = pageNum; i > 0 && i > pageNum - 2; i--) {
//            $('#hiddenPage').after("<li><a class='pageLink' href='javascript:void(0);' onclick='changePage(" + i + ")'>" + i + "</a></li>");
//        }
//    }
</script>
</body>
</html>
