<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddpzp.xiaogu_word.mapper.game.IdiomMapper">
    <select id="countIdiom" resultType="java.lang.Integer">
        select count(*) from idiom
    </select>
    <select id="getIdiomByIndex" resultType="com.ddpzp.xiaogu_word.po.game.Idiom">
        select * from idiom limit #{index},1
    </select>
    <insert id="addIdiom" parameterType="com.ddpzp.xiaogu_word.po.game.Idiom">
        insert into idiom
        (word,means,
        phonetic_pinyin,first_pinyin,
        second_pinyin,third_pinyin,
        fourth_pinyin,score,
        pass_count,miss_count,
        create_time
        ) values (
        #{word},#{means},
        #{phoneticPinyin},#{firstPinyin},
        #{secondPinyin},#{thirdPinyin},
        #{fourthPinyin},#{score},
        #{passCount},#{missCount},
        CURRENT_TIMESTAMP)
    </insert>
    <select id="getIdiomByWord" resultType="com.ddpzp.xiaogu_word.po.game.Idiom">
        select * from idiom where word=#{word} limit 1
    </select>

    <select id="idiomLoong" resultType="com.ddpzp.xiaogu_word.po.game.Idiom">
        select * from idiom where first_pinyin=#{queryWord}
    </select>

</mapper>