<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddpzp.xiaogu_word.mapper.game.PoemMapper">
    <insert id="addPoem" parameterType="com.ddpzp.xiaogu_word.po.game.Poem" useGeneratedKeys="true" keyProperty="id">
        insert into poem
        (title,author,
        dynasty,body,
        means,author_detail,
        author_baike_link
        ) values (
        #{title},#{author},
        #{dynasty},#{body},
        #{means},#{authorDetail},
        #{authorBaikeLink})
    </insert>
    <select id="checkRepeat" resultType="com.ddpzp.xiaogu_word.po.game.Poem">
        SELECT * FROM poem WHERE title=#{title} and author=#{author} limit 1
    </select>
    <select id="countPoem" resultType="java.lang.Integer">
        select count(*) from poem
    </select>
</mapper>