<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddpzp.goodbook.mapper.game.PoemMapper">
    <insert id="addPoem" parameterType="com.ddpzp.goodbook.po.game.Poem" useGeneratedKeys="true" keyProperty="id">
        insert into poem
        (title,author,
        dynasty,body,
        means,author_detail,
        author_baike_link
        ) values (
        #{title},#{author},
        #{dynasty},#{body},
        #{means},#{authorDetail},
        #{authorBaikeLink})
    </insert>
    <select id="checkRepeat" resultType="com.ddpzp.goodbook.po.game.Poem">
        SELECT * FROM poem WHERE title=#{title} and author=#{author} limit 1
    </select>
    <select id="countPoem" resultType="java.lang.Integer">
        select count(*) from poem
    </select>
    <select id="fuzzySearchPoem" resultType="com.ddpzp.goodbook.po.game.Poem">
        select * from poem
        <where>
            <if test="title!=null and title!=''">
                title like "%"#{title}"%"
            </if>
            <if test="author!=null and author!=''">
                author like "%"#{author}"%"
            </if>
            <if test="body!=null and body!=''">
                body like "%"#{body}"%"
            </if>
        </where>
        <if test="startNum!=null and pageSize!=null">
            limit #{startNum},#{pageSize}
        </if>
    </select>
    <select id="countFuzzySearchPoem" resultType="java.lang.Integer">
        select count(*) from poem
        <where>
            <if test="title!=null and title!=''">
                title like "%"#{title}"%"
            </if>
            <if test="author!=null and author!=''">
                and author like "%"#{author}"%"
            </if>
            <if test="body!=null and body!=''">
                and body like "%"#{body}"%"
            </if>
        </where>
    </select>
    <select id="searchPoem" resultType="com.ddpzp.goodbook.po.game.Poem">
        select * from poem
        <where>
            <if test="title!=null and title!=''">
                title=#{title}
            </if>
            <if test="author!=null and author!=''">
                and author=#{author}
            </if>
        </where>
        <if test="startNum!=null and pageSize!=null">
            limit #{startNum},#{pageSize}
        </if>
    </select>
    <select id="countSearchPoem" resultType="java.lang.Integer">
        select count(*) from poem
        <where>
            <if test="title!=null and title!=''">
                title=#{title}
            </if>
            <if test="author!=null and author!=''">
                and author=#{author}
            </if>
        </where>
    </select>
</mapper>